body {
    padding: 10px 100px;
}
h1 {
    font-family: sans-serif;
}

h3 {
    font-family: sans-serif;
}
p{
    font-family: 'Roboto', sans-serif;
    color: gray;
    padding-right: 2em;
}

#boton1 a {
    display: inline-block;
    border-radius: 10px;
    text-decoration: none;
    border: 1px solid #f56a6a;
    color: #f56a6a;
    padding: 0.5em 2em;
    font-size: 1.5em;
}

#boton1 {
    background: white;
}

#boton1 a:hover {
    color: aquamarine;
    border: 1px solid aquamarine;
}

nav {
    display: flex;
}

ul {
    display: flex;
    list-style: none;
}

ul li {
    padding-right: 2em;
}

ul li a {
    color: gray;
}

header {
    display: flex;
    grid-row-gap: 5px;
    justify-content: space-between;
    border-bottom: 5px solid rgb(255, 136, 0);
}

img {
    border-radius: 10px;
}

.section1 {
    display: grid;
}

.section1 .main {
    display: flex;
    flex-direction: row;
}

.main {
    margin-top: 5em;
    padding-right: 5em;
}

#titulo2 h1 {
    display: inline;
    border-bottom: 5px solid rgb(255, 136, 0);
}

.section2 #row-article{
    display: grid;
    grid-template-columns: 50% 50%;
}

.section2 #row-article article{
    display: grid;
    padding-right: 2em;
    grid-template-columns: 20% 80%;
}

.iconos i{
    font-size: 50px;
    color: rgb(255, 136, 0);
}